# Ignore everything by default
*

# Allow directories so we can re-include files
!*/

# Keep all .cpp and .h files anywhere
!**/*.cpp
!**/*.h

# Keep any Makefile
!**/Makefile

# Keep tracker_info.txt
!tracker_info.txt
